
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            background-color: #1e1e1f;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.14%;
            margin: 0;
            min-height: 100%;
            overflow: hidden;
        }

        h1 {
            margin: 0;
            color: #f1f4fb;
            font-size: 40px;
        }

        .subtitle {
            color: #8395b0;
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 20px;
            font-weight: 500;
        }

        .container {
            background: black;
            padding: 24px;
            border-radius: 16px;
            box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.01);
            width: 95%;
            max-width: 100%;
            border: 1px solid #e2e8f0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .tool {
            display: flex;
            flex-wrap: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;
            margin-bottom: 10px;
        }

        .tools {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            color: #a8b7c9;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }

        .tools label {
            margin-bottom: 8px;
        }

        .color-options {
            display: flex;
            gap: 8px;
        }

        .color-btn {
            width: 30px;
            height: 30px;
            border-radius: 8px;
            border: 2px solid rgb(0, 0, 0);
            box-shadow: 0 0 0 2px #4b4e51;
            cursor: pointer;
            transition: transform 0.5s;
        }

        .color-btn:hover {
            transform: rotate(180deg) scale(1.2);
            box-shadow: 0 0 0 2px #4299e1;
        }

        .color-btn-hover {
            transform: rotate(180deg) scale(1.2);
            box-shadow: 0 0 0 2px #4299e1;
        }

        select {
            padding: 8px 12px;
            border-radius: 8px;
            border: 2px solid #4b4e51;
            font-size: 14px;
            color: #e2e8f0;
            outline: none;
            cursor: pointer;
            background-color: black;
        }

        .clear-btn {
            width: 50px;
            height: 50px;
            border-radius: 12px;
            border: 2px solid #4b4e51;
            background: black;
            font-size: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s ease;
        }

        .clear-btn:hover {
            background-color: #392d2d;
            border-color: #e53e3e;
            transform: rotate(360deg) scale(1.2);
        }

        .clear-btn-hover {
            background-color: #392d2d;
            border-color: #e53e3e;
            transform: rotate(360deg) scale(1.2);
        }

        .save-btn {
            width: 50px;
            height: 50px;
            border-radius: 12px;
            border: 2px solid #4b4e51;
            background: black;
            font-size: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s ease;
        }

        .save-btn:hover {
            background-color: #2a3828;
            border-color: #49e53e;
            transform: rotate(360deg) scale(1.2);
        }

        .save-btn-hover {
            background-color: #2a3828;
            border-color: #49e53e;
            transform: rotate(360deg) scale(1.2);
        }

        .tool-btn {
            width: 50px;
            height: 50px;
            border-radius: 12px;
            border: 2px solid #4b4e51;
            background: black;
            color: white;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.5s ease;
        }

        .tool-btn:hover {
            border-color: #4299e1;
            background-color: #27363f;
            transform: rotate(360deg) scale(1.2);
        }

        .tool-btn-hover {
            border-color: #4299e1;
            background-color: #27363f;
            transform: rotate(360deg) scale(1.2);
        }

        .canvas-container {
            width: 100%;
            height: 60vh;
            border: 2px solid #333333;
            border-radius: 12px;
            position: relative;
            background-color: black;
            background-image: radial-gradient(#414345 1.5px, transparent 1.5px);
            background-size: 24px 24px;
            overflow: hidden;
        }

        .infolabel{
            color: white;
            font-size: 20px;
        }

        canvas {
            display: block;
            width: 100%;
            height: 100%;
            cursor: crosshair;
        }

        #virtual-cursor {
            position: fixed;
            width: 10px;
            height: 10px;
            background-color: #49e53e;
            border: 2px snow;
            border-radius: 50%;
        }